.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__accent-header {
    color: #000000;
}

.footer__logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo__accent-footer {
    color: var(--basic-white-color);
}